<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>941756051323-dtl87rj6nf0qaunp1leadhpdhl5da5eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941756051323-dtl87rj6nf0qaunp1leadhpdhl5da5eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDs2kSH7su8HmHJ4rXSsc8KyeFGe5wjU3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>941756051323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GreatLL.frigde</string>
	<key>PROJECT_ID</key>
	<string>fridge-8eb01</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-8eb01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941756051323:ios:26ce87fc5378d800</string>
	<key>DATABASE_URL</key>
	<string>https://fridge-8eb01.firebaseio.com</string>
</dict>
</plist>